{% extends 'stud/stud.html' %}

    {% block content %}
        <!-- <h1>Hello Student {{name}}</h1> -->

        <div>
            <!-- <h1>Welcome to Student Portal</h1> -->
        </div>
      
        <!-- Content Section -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Welcome to the Student Portal!</h2>
                    <p>This portal provides resources and tools to help you succeed in your academic journey. Here are some features:</p>
                    <ul>
                        <li><strong>Course Materials:</strong> Access lecture notes, textbooks, and other resources for your courses.</li>
                        <li><strong>Discussion Forums:</strong> Engage with your peers and instructors in online discussion forums.</li>
                        <li><strong>Assignment Submissions:</strong> Submit your assignments and projects online.</li>
                        <li><strong>Event Calendar:</strong> Stay updated on important events, deadlines, and academic dates.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h3>Upcoming Events</h3>
                    <ul>
                        <li><strong>Workshop on Time Management:</strong> Learn effective time management strategies to improve productivity.</li>
                        <li><strong>Guest Lecture Series:</strong> Renowned speakers discussing industry trends and career opportunities.</li>
                        <li><strong>Career Fair:</strong> Connect with employers and explore internship and job opportunities.</li>
                    </ul>
                </div>
            </div>
        </div>

     
       
    {% endblock  %}